{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block styles %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{% endblock %}


{% block content %}
    <div class="container" id="body">
        <div class="row">
        {% for item in sources %}
            <div class="card" id="bodyc" style="width: 45rem; margin: 30px; height: 30rem;">
                <div class="card-body">
                    <h5 class="card-title"style="font-size: 23px;">{{item.name}}</h5>
                    <p class="card-text" style="font-size: 20px;">{{item.description}}</p>
                    <a href="/sources/{{item.id}}" class="btn btn-primary">read more from {{item.name}}</a>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
    </div>

{% endblock %}