{% extends 'base.html'%}
{% import 'macros.html' as macro%}


 {%block styles%}

{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">


{% endblock %}


{% block content %}
 <h1>Politics</h1>
 <hr>
{% for item in sources %}
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <a href="{{item.url}}" class="btn btn-primary">read more from {{item.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}