{% extends 'base.html' %}

{% block styles %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for item in article_data %}
        <div class="card" style="width: 50rem; margin: 20px;">
            <img src="{{ item.urlToImage }}" alt="{{item.title | truncate(15)}}" class="card-img-top">
            <div class="card-body">
                <h5 style="font-size: 30px; text-align: center;" class="card-title">{{item.title}}</h5>
                <hr>
                <p style="font-size: 30px; text-align: center;" class="card-text">{{item.content}}</p>
            </div>
            <a href="{{item.url}}" style="width: 80%" class="btn btn-primary">read more from {{item.title | truncate(10)}}</a>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}